@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

header {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
}
.title {
    line-height: 10vh;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 2vh;
    margin-right: 35vw;
    text-decoration: none;
    color: white;
    font-size: 36px;
    font-family: 'Parisienne', cursive;
}
.ctn-logo {
    width: 5vw;
    margin-left: 4vw;
}
.nav-link {
    margin-left: 4vw;
    color: white;
}