
.slideTwo {
    background: linear-gradient(1turn, #d6d6d6, #ffffff);
    display: flex;
    flex-direction: row;
}
.ctn-carousel {
    margin-left: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.carousel {
    max-width: 35vw;
    height: auto;
}
.carousel-ctn-txt {
    margin-top: 25vh;
    margin-left: 5vw;

}
